<div class="row">
    <ul id="slide-out" class="side-nav">
        <li>
            <div class="userView">
                <div class="background">
                    <img src="images/office.jpg">
                </div>
                <a href="#!user"><img class="circle" src="images/profile.png"></a>
                <a href="#!name"><span class="white-text name">{{userName}}</span></a>
                <a href="#!email"><span class="white-text email">{{userEmail}}</span></a>
            </div>
        </li>
        <li><a routerLink="/search" class="waves-effect"><i class="material-icons">search</i>Search For a Record</a></li>
        <li><a routerLink="/upload" class="waves-effect"><i class="material-icons">present_to_all</i>Upload File for Translation</a></li>
        <li><a routerLink="/input" class="waves-effect"><i class="material-icons">speaker_notes</i>Input a Translation</a></li>
    </ul>
    <a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="slide-out" class="menu-button button-collapse btn-floating btn-large waves-effect waves-light teal darken-2 z-depth-3">
        <i class="material-icons">menu</i>
    </a>

</div>