.rev {
    color: #004d40;
}

.translate {
    color: #000000;
    font-style: italic;
}

#results {
    display: none;
}

#download_button {
    display: none;
}

#input-modal-close {
    display: none;
}

#input-modal-confirm {
    display: none;
}

.table-btn {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.transparent {
    background-color: transparent !important;
    color: black!important;
}

.table-container {
    width: 80%;
}

.add-translation-button-container {
    width: 175px;
}

.view-similar-button-container {
    width: 155px;
}

.download-btn {
    width: 195px;
}