<div class="row center">
    <br><br>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" materialize>
        <div class="row center">
            <div class="col s4">
                Translate message from:
            </div>
            <div class="col s4">
                <input formControlName="searchLanguage" value="ENGLISH" name="searchLanguage" type="radio" id="searchEnglish" checked />
                <label for="searchEnglish">English to Irish</label>
            </div>
            <div class="col s4">
                <input formControlName="searchLanguage" value="IRISH" name="searchLanguage" type="radio" id="searchIrish" />
                <label for="searchIrish">Irish to English</label>
            </div>
        </div>
        <div class="input-field">
            <input formControlName="searchTerm" name="searchTerm" id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>
    </form>
</div>
<app-search-results [searchResult]="searchResult"></app-search-results>