<div class="row center">
    <form [formGroup]="uploadForm" materialize class="col s12" (ngSubmit)="doUpload($event)">
        <div class="col s4">
            Translate file from:
        </div>
        <div class="col s4">
            <input formControlName="uploadLanguage" value="ENGLISH" name="uploadLanguage" type="radio" id="uploadEnglish" checked />
            <label for="uploadEnglish">English to Irish</label>
        </div>
        <div class="col s4">
            <input formControlName="uploadLanguage" value="IRISH" name="uploadLanguage" type="radio" id="uploadIrish" />
            <label for="uploadIrish">Irish to English</label>
        </div>
        <br><br>
        <div class="file-field input-field">
            <div class="btn table-btn waves-effect waves-light teal darken-2">
                <i class="material-icons right">present_to_all</i>
                <span>Choose File to Upload</span>
                <input class="fileInput" formControlName="fileToTranslate" type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <br><br>
        <div class="row">
            <button type="submit" class="btn waves-effect teal darken-2 waves-light">Submit<i class="material-icons right">send</i></button>
        </div>
    </form>
</div>